
.text-left {
    text-align: left;
  }

  a {
    text-decoration: none!important;
    }

  .row {
    margin: 25px;
  }
  
  header {
    height: 90px;
    width: 100%;
    background-color: white;
    text-align: center;
  }
  
  .header-logo {
    width: 50px;
    height: auto;
    margin: 15px;
  }
  
  main {
    margin: 0%;
    background-size: cover;
    color: white;
    text-align: center;
    }
  
  .container {
    width: 100%;
    margin: 0px auto;
  }

  h1 {
    font-family: Arial Rounded MT Bold;
    font-size: 50px;
    color: black;
    text-align: center;
    margin: 50px 0px;
  }

  p {
    font-size: 18px;
    color: black;
    text-align: left;
  }

  h2 {
    font-size: 25px;
    color: black;
    text-align: left;
  }

  h3 {
    font-size: 18px;
    color: black;
    text-align: left;
  }

  .main-ul {
     padding-left: 50px;
  }

  .main-li {
    padding: 10px 0px;
  }
  
  footer {
    height: 100px;
    width: 100%;
    border-top: solid 1px lightgray;
  }
  
  .footer-logo {
    font-size: 15px;
    font-family: Arial Rounded MT Bold;
    color: grey;
    text-align: left;
    margin: 40px 0px;
  }
  
  .footer-ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .inline {
    text-align: center;
    margin: 40px 0px;
  }
  
  .inline li {
    display: inline;
  }
  
  .footer-li {
    display: inline-block;
    width: 30px;
    height: auto;
    margin: 10px;
  }
